---
title: Whether you are trying to build new projects or brainstorm on which tech stack to use or make an architectural decision or debug any code issue, I can work with you by providing awesome mentorship experience.
description: Whether you are a new grad looking for advice or a seasoned engineer looking to get to the next level, as a mentor, I want to provide support on both technical and career goal accomplishments. Change careers, Pass interviews, Grow your career, Learn a new skill, Change jobs, Learn a new tool, Build a product
layout: layouts/base.njk
eleventyNavigation:
    key: Mentorship
    order: 1
---

<h1>1:1 Mentorship</h1>
<p>{{ title }}</p>

<p>{{ description }}</p>
{#
<script
	id="setmore_script"
	type="text/javascript"
	src="https://storage.googleapis.com/fullintegration-live/webComponentAppListing/Container/setmoreIframeLive.js"
></script>
#}

<h2>Paid Mentorship: 1</h2>

<ul>
	<li>Subsidized fees.</li>
	<li>Fully customized services.</li>
	<li>
		Fees are <strong>lower</strong> than MentorCruise platform since there
		is no platform fees.
	</li>
	<li>Flexible date and time.</li>
</ul>
{#
<a
	style="float: none"
	id="Setmore_button_iframe"
	href="https://booking.setmore.com/scheduleappointment/6f5fce80-6b45-453e-93b8-7322e37fc96e"
>
	<button type="button" class="free-mentoship">Book me</button>
</a>
#}
<p><em>You can message me to ask any questions.</em></p>
<a href="/contact">
	<button type="button">Get in touch with me</button>
</a>
<h2>Paid Mentorship: 2</h2>
<p>
	<a href="https://mentorcruise.com/mentor/sanjeevsubedi/" target="blank">
		<img
			src="https://cdn.mentorcruise.com/img/banner/navy-booking-badge.svg"
			width="240"
			alt="MentorCruise"
		/><br />
		<img
			src="https://mentorcruise.com/mentor/sanjeevsubedi/widget/"
			loading="lazy"
			class="md:h-28"
			style="max-height: 140px"
			alt=""
		/>
	</a>
</p>

<h2>Free Mentorship</h2>
<p>I'm also mentoring on <strong>adplist.org</strong></p>

<a href="https://adplist.org/mentors/sanjeev-subedi" target="blank">
	<button type="button" class="free-mentoship">Book on adplist.org</button>
</a>
