/*screen size: 320 - 1920*/

@font-face {
	font-family: barlow-regular;
	src: url("/fonts/barlow-regular.ttf");
}

@font-face {
	font-family: barlow-medium;
	src: url("/fonts/barlow-medium.ttf");
}

@font-face {
	font-family: barlow-bold;
	src: url("/fonts/barlow-bold.ttf");
}

html {
	--leading-1: 1;
	--leading-2: 1.2;
	--leading-3: 1.3;
	--leading-4: 1.4;
	--leading-5: 1.5;
	--leading-6: 1.6;
	--leading-7: 1.7;

	/*spacing*/
	--spacing--4: 2px;
	--spacing--3: 4px;
	--spacing--2: 8px;
	--spacing--1: 12px;
	--spacing-0: 16px;
	--spacing-1: 18px;
	--spacing-2: 20px;
	--spacing-3: 24px;
	--spacing-4: 28px;
	--spacing-5: 32px;
	--spacing-6: 36px;
	--spacing-7: 40px;
	--spacing-8: 48px;
	--spacing-9: 56px;
	--spacing-10: 64px;
	--spacing-11: 76px;
	--spacing-12: 96px;
	--spacing-relative-1: 0.25em;
	--spacing-relative-2: 0.5em;
	--spacing-relative-3: 0.75em;
	--spacing-relative-4: 1em;
	--spacing-relative-5: 1.5em;
	--spacing-relative-6: 1.75em;
	--spacing-relative-7: 2em;
	/*fonts*/
	--font-size-x-small: clamp(0.8rem, 0.78rem + 0.1vw, 0.9rem);
	--font-size-small: clamp(0.8rem, 0.72rem + 0.4vw, 1.2rem);
	--font-size-body: clamp(1.2rem, 1.12rem + 0.4vw, 1.6rem);
	--font-size-logo: clamp(1.5rem, 1.44rem + 0.3vw, 1.8rem);
	--font-size-h1: clamp(1.88rem, 1.706rem + 0.87vw, 2.75rem);
	--font-size-h2: clamp(1.63rem, 1.506rem + 0.62vw, 2.25rem);
	--font-size-h3: clamp(1.63rem, 1.506rem + 0.62vw, 1.75rem);
	--font-family-body: barlow-regular, tahoma;
	--font-family-medium: barlow-medium, tahoma;
	--font-family-bold: barlow-bold, tahoma;
	--font-weight-body-regular: 400;
	--font-weight-body-medium: 600;
	--font-weight-body-bold: 700;
	/*colors*/
	--primary-color: #031b66;
	--secondary-color: #4040c8;
	--tertiary-color: #717171;
	--white-color: #fff;
	--black-color: #000;
	--grey-1: #f9f9f9;
	--grey-2: #242424;
	--grey-3: #ddd;
	--grey-4: #f9f9f9;
	--white-color-2: #fafafa;
	--blue-1: #1d90f5;
	--success-color: #008000;
	--error-color: #bc0606;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	line-height: var(--leading-6);
	font-family: var(--font-family-body);
	font-weight: var(--font-weight-body-regular);
	font-size: var(--font-size-body);
	color: var(--black-color);
	min-height: 100vh;
}

h1 {
	font-size: var(--font-size-h1);
	line-height: var(--leading-2);
}

h2 {
	font-size: var(--font-size-h2);
	line-height: var(--leading-3);
	margin-top: calc(var(--leading-6) * 1em);
}

h3 {
	font-size: var(--font-size-h3);
	line-height: var(--leading-3);
	margin-top: calc(var(--leading-6) * 1em);
}

p {
	margin-top: var(--spacing-relative-5);
	color: var(--black-color);
}

figure {
	margin-top: var(--spacing-relative-7);
	text-align: center;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

a[aria-current] {
	background: var(--white-color);
	color: var(--grey-2);
}

em {
	font-style: italic;
	font-weight: var(--font-weight-body-medium);
}

iframe {
	width: 100%;
	min-height: 80vh;
}

button {
	border: 0;
	background: var(--blue-1);
	padding: var(--spacing-relative-4) var(--spacing-relative-5);
	color: var(--white-color);
	border-radius: 5px;
	cursor: pointer;
	font-weight: var(--font-weight-body-bold);
	font-size: 0.7em;
	margin-top: calc(var(--leading-6) * 1em);
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
	font-weight: var(--font-weight-body-bold);
	font-family: var(--font-family-bold);
	color: var(--black-color);
}

footer {
	font-size: var(--font-size-small);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-relative-7);
	background-color: var(--grey-4);
	margin-top: auto;
	color: var(--tertiary-color);
}

time {
	font-size: var(--font-size-small);
	color: var(--tertiary-color);
}

figcaption,
.caption {
	text-align: center;
	font-size: var(--font-size-small);
	color: var(--tertiary-color);
	font-weight: var(--font-weight-body-bold);
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--primary-color);
	padding: var(--spacing-4);
}

header .home-link {
	padding: 0;
	font-size: var(--font-size-logo);
	font-family: var(--font-family-medium);
	margin-right: var(--spacing--2);
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	padding: var(--spacing-relative-2);
	color: var(--white-color);
}

header nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: clamp(1.4rem, 1.23rem + 0.85vw, 2.25rem);
}

main ul {
	margin-top: var(--spacing-relative-4);
	list-style: disc;
	padding-left: 1em;
}

main ul li {
	margin-top: var(--spacing-relative-4);
}

table {
	margin-top: var(--spacing-relative-5);
	width: 100%;
}

table thead {
	background-color: var(--grey-1);
}

table td,
table th {
	padding: var(--spacing-relative-2);
	text-align: left;
	border: 1px solid var(--grey-3);
}

code[class*="language-"],
pre[class*="language-"] {
	font-size: 0.9em;
	margin-top: var(--spacing-relative-4);
}

blockquote {
	margin-top: var(--spacing-relative-4);
	background-color: var(--grey-1);
	box-shadow: inset 3px 0 0 0 var(--grey-2);
	padding: 1em;
}

blockquote blockquote {
	margin: 0;
	box-shadow: none;
	padding: 0.5em 0 0 0;
}

blockquote p {
	padding: 0;
	margin: 0;
}

picture img,
img {
	max-width: 100%;
	height: auto;
}

form {
	display: flex;
	flex-direction: column;
}

form input,
form textarea {
	padding: var(--spacing-relative-2) var(--spacing-relative-2);
	border-radius: 5px;
	font-size: var(--font-size-small);
	border: 1px solid var(--grey-3);
	width: 100%;
	font-family: inherit;
}

form textarea {
	min-height: 200px;
}

form .form-group {
	margin-top: var(--spacing-relative-3);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.left {
	text-align: left;
}

.container {
	max-width: 1000px;
	width: 100%;
}

.sm-logo {
	display: none;
}

.lg-logo {
	display: block;
}

.reading-time-stat {
	font-size: var(--font-size-small);
	color: var(--tertiary-color);
}

/* Direct Links / Markdown Headers */
.header-anchor {
	margin-left: 0.1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}

/* mentorship */

/* blog post */
.post-metadata {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
	font-size: var(--font-size-small);
	color: var(--tertiary-color);
}

.post-metadata time {
	margin: 0 var(--spacing-relative-4) 0 var(--spacing-relative-3);
}

.post-metadata a {
	padding: 0 var(--spacing-relative-1);
}

.post div.no-caption {
	margin-top: var(--spacing-relative-7);
}

/* postlist */
.postlist {
	padding: 0;
}

.postlist h3 {
	margin-top: var(--spacing-relative-1);
}

.postlist li {
	list-style: none;
	border-bottom: 1px solid var(--grey-3);
	margin: 0;
	padding: var(--spacing-relative-3) var(--spacing-relative-1);
}

.postlist li:hover {
	background-color: var(--grey-3);
}
.postlist p {
	margin-top: var(--spacing-relative-1);
	font-size: 0.8em;
	padding: 0;
}

/* mentorship */

#mentorship ul,
#mentorship li {
	padding: 0;
	margin: 0;
}

/* intro */

.intro {
	margin-top: var(--spacing-relative-5);
}

.intro picture {
	max-width: 10em;
	float: right;
}

.intro img {
	border-radius: 2%;
}

.social-links img {
	margin-left: -5px;
}

/* recent posts */

.recent-posts .postlist {
	background-color: var(--white-color-2);
	padding: 0 var(--spacing-relative-2);
}

.view-more {
	display: flex;
	margin-top: var(--spacing-relative-5);
}

/* comments */
.utterances {
	max-width: 100%;
	margin: var(--spacing-relative-7) 0;
}

/* code copy */
span.copy-code {
	position: relative;
	display: block;
}

/** contact */
#my-form-status {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-body-bold);
}
#my-form-status .success {
	border: 1px solid var(--success-color);
	color: var(--success-color);
}

#my-form-status .error {
	border: 1px solid var(--error-color);
	color: var(--error-color);
}

#my-form-status div {
	padding: var(--spacing-relative-3);
	display: flex;
	flex-direction: column;
}

span.copy-code button {
	position: absolute;
	top: var(--spacing--1);
	right: var(--spacing--1);
	font-size: var(--font-size-x-small);
	padding: var(--spacing-relative-1) var(--spacing-relative-2);
	background-color: var(--grey-2);
}

span.copy-code button:hover {
	cursor: pointer;
	background-color: var(--black-color);
}

@media screen and (max-width: 500px) {
	.sm-logo {
		display: block;
		line-height: 0;
		font-size: 2.7rem;
	}

	.lg-logo {
		display: none;
	}
}
