---
layout: layouts/home.njk
seoDescription: All blog posts of Sanjeev Subedi
eleventyNavigation:
    key: Blog
    order: 2
---

<h1>All blog posts</h1>

{% set postslist = collections.posts %} {% include "postslist.njk" %}
