---
permalink: /tags/
layout: layouts/home.njk
title: Tags of Sanjeev Subedi's blog posts
seoDescription: Read all tags of Sanjeev Subedi's blog posts
---

<h1>Tags</h1>

<ul>
	{% for tag in collections.all | getAllTags | filterTagList %} {% set tagUrl
	%}/tags/{{
		tag | slugify
	}}/{% endset %}
	<li>
		<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
	</li>
	{% endfor %}
</ul>
