---
layout: layouts/base.njk
---

{# Only include the syntax highlighter CSS on blog posts #} {%- css %}{% include
"node_modules/prismjs/themes/prism.css" %}{% endcss %}
<div class="post">
	<h1>{{ title }}</h1>
	{%- from '../../components/post-metadata.njk' import postMetaData %}
	{{ postMetaData(page, content, tags) }}
	{{ content | safe }}

	{%- if collections.posts %} {%- set previousPost = collections.posts |
	getPreviousCollectionItem %} {%- set nextPost = collections.posts |
	getNextCollectionItem %} {%- if nextPost or previousPost %}

	<ul class="links-nextprev">
		{%- if previousPost %}
		<li class="prev">
			<a href="{{ previousPost.url }}">
				<span><< Previous </span> {{ previousPost.data.title }}</a
			>
		</li>
		{% endif %} {%- if nextPost %}
		<li class="next">
			<a href="{{ nextPost.url }}"
				><span>Next >></span> {{ nextPost.data.title }}</a
			>
		</li>
		{% endif %}
	</ul>
	{%- endif %} {%- endif %}
</div>

<h2>Comments</h2>

<script
	src="https://utteranc.es/client.js"
	repo="sanjeevsubedi/sanzeev.com.np"
	issue-term="title"
	theme="boxy-light"
	crossorigin="anonymous"
	async
></script>

<script src="/js/code-copy.js"></script>
